@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
} 

@media screen and (min-width:576px){

.container{
    display: flex;
    max-width: 576px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(212, 212, 212);
    font-family: 'Righteous', cursive;
}

.header{
    width: 100%;
    text-align: center;
    color: black;
    font-size: 15px;
}

h1{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.h1h{
    font-family: 'Righteous', cursive;
    margin-right: 10px;
}

.gallery img{
    width: 576px;
    height:fit-content;
}

h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}


/* foto boy*/
#about {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.aboutp {
    width: 370px;
    margin-top: 30px;
    margin-left: 70px;
    text-align: center;
    font-size: 20px;
}

.red {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    color: red;
    font-size: 10px;
}

.form {
    margin-bottom: -15px;
    text-align: center;
    letter-spacing: 5px;
}

label {
    font-weight: bold;
    font-size: 20px;
    margin-left: 40px;
}

input {
    margin-top: 0px;
    margin-bottom: 20px;
    width: 370px;
    height: 42px;
    margin-left: 30px;
    font-size: 20px;
}

.btn {
    background-color: rgb(127, 127, 127);
    border: none;
    width: 365px;
    height: 40px;
    color: white;
    font-size: 18px;
    margin-left: 30px;
}

.footer {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    margin-left: 20px;
}

a {
    color: black;
    letter-spacing: 2px;
    margin-left: 8px;
}
}



@media screen and (min-width:768px){    
    .container{
        display: flex;
        max-width: 768px;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        background-color: rgb(212, 212, 212);
        font-family: 'Righteous', cursive;
    }
    
    .header{
        width: 100%;
        text-align: center;
        color: black;
        font-size: 20px;
    }
    
    h1{
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }
    
    .gallery img{
        width: 768px;
        height:fit-content;
    } 
    
    /* foto boy*/
    #about {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    
    .aboutp {
        width: 550px;
        margin-top: 30px;
        margin-left: 5px;
        text-align: center;
        font-size: 24px;
    }
    
    .red {
        margin-top: 40px;
        margin-left: 30px;
        margin-bottom: 30px;
        color: red;
        font-size: 10px;
        letter-spacing: 5px;
    }
    
    .form {
        margin-top: 10px;
        text-align: center;
        letter-spacing: 5px;
        width: 868px;
        height: 340px;
        color: black;
    }
    
    label {
        font-weight: bold;
        font-size: 20px;       
    }
    
    input {
        margin-top: 5px;
        margin-bottom: 20px;
        margin-left: 20px;
        width: 470px;
        height: 42px;

    }
    
    .btn {
        background-color: rgb(127, 127, 127);
        border: 0;
        width: 470px;
        height: 40px;
        color: black;
        font-size: 18px;
        margin-left: 50px;
        margin-right: 30px;
    }

    .h2f{
        text-align: center;
        margin-top: 50px;
        font-size: 25px;
    }

}
    
